body{
  overflow-x: hidden;
  background-color: #eae7e7;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 18px;
  margin: 18px 0;
}

@media (max-width: 992px) {
  .container{
      max-width: 100%;
  }  
}